nav.navbar {
    margin-top: 20px;
}

a.navbar-brand {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
}

a.nav-link {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

img.navbar-brand {
    display: block;
    max-width: 50px;
}

li.nav-item {
    display: flex;
    width: 200px;
    height: 50px;
    left: 398px;
    top: 35px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    background: #E20000;
    box-shadow: 0 6px 20px 1px rgba(0, 0, 0, 0.4);
}